@tailwind base;
@tailwind components;
@tailwind utilities;

/*全局过度*/
::view-transition-image-pair(root) {
    isolation: auto;
}

::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
}

::view-transition-old(root) {
    animation: none;
    mix-blend-mode: normal;
    z-index: 999;
}

.dark::view-transition-new(root) {
    z-index: 999;
    animation: none;
    mix-blend-mode: normal;
}

.dark::view-transition-old(root) {
    animation: none;
    mix-blend-mode: normal;
}


*{
    user-select: none;
}


html, body {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#bcd2e490 2px, transparent 0);
    background-size: 100% 7vmin;
  }